@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}

input::placeholder {
  padding-left: 10px;
  font-family: 'montserrat', sans-serif; /* Replace 'Your Custom Font' with the actual font name */
  /* Add any other styles as needed */
}

.primary-button {
  @apply rounded bg-amber-300 text-black py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}

.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none
  hover:bg-gray-200 active:bg-gray-300
  dark:text-white dark:bg-gray-800 dark:hover:bg-gray-700
}